@charset "UTF-8";
/*todo:*/
/*make non-sortable/selectable rows differnt color and unhoverable*/
@font-face {
  font-family: 'Octicons Regular';
  src: url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-f8cb074da115b589d1518e9701e5ce0145a9a04b.eot");
  src: url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-f8cb074da115b589d1518e9701e5ce0145a9a04b.eot#iefix") format("embedded-opentype"), url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-ca94a86a0e39e28efb023a130cb748731bb0ab58.woff") format("woff"), url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-83378e6a590d9a4a7242c6cf23f1a1b49ce7aa14.ttf") format("truetype"), url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-e1451ddc22ffbea19d2e8fca0742d5667940b793.svg#newFontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000360}}
.github-icon {
  position: absolute;
  left: 10px;
  bottom: 8px;
  line-height: 1;
  font-family: 'Octicons Regular';
  font-size: 45px;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  color: rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000372}}
.github-icon:hover {
  color: rgba(0, 0, 0, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000376}}
.github-icon:before {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000383}}
.collection-list {
  list-style-type: none;
  margin: 0;
  outline: medium none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000389}}
.collection-list li {
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000394}}
button {
  padding: 10px 14px;
  color: white;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.25);
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003104}}
.button-big {
  font-size: 20px;
  margin: 20px 72px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003109}}
.button-small {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003113}}
.button-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003117}}
.button-orange {
  background: #ff8742;
  border: 1px solid #f55a00;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa16b), color-stop(100%, #ff6e1a));
  background: -webkit-linear-gradient(#ffa16b, #ff6e1a);
  background: -moz-linear-gradient(#ffa16b, #ff6e1a);
  background: -o-linear-gradient(#ffa16b, #ff6e1a);
  background: linear-gradient(#ffa16b, #ff6e1a);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000343}}
.button-orange:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9457), color-stop(100%, #ff6105));
  background: -webkit-linear-gradient(#ff9457, #ff6105);
  background: -moz-linear-gradient(#ff9457, #ff6105);
  background: -o-linear-gradient(#ff9457, #ff6105);
  background: linear-gradient(#ff9457, #ff6105);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003118}}
.button-blue {
  background: #678be4;
  border: 1px solid #2659d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8aa5ea), color-stop(100%, #4570de));
  background: -webkit-linear-gradient(#8aa5ea, #4570de);
  background: -moz-linear-gradient(#8aa5ea, #4570de);
  background: -o-linear-gradient(#8aa5ea, #4570de);
  background: linear-gradient(#8aa5ea, #4570de);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000343}}
.button-blue:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7998e7), color-stop(100%, #3363db));
  background: -webkit-linear-gradient(#7998e7, #3363db);
  background: -moz-linear-gradient(#7998e7, #3363db);
  background: -o-linear-gradient(#7998e7, #3363db);
  background: linear-gradient(#7998e7, #3363db);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003119}}
.button-red {
  background: #e06777;
  border: 1px solid #cf2a40;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e78895), color-stop(100%, #d94558));
  background: -webkit-linear-gradient(#e78895, #d94558);
  background: -moz-linear-gradient(#e78895, #d94558);
  background: -o-linear-gradient(#e78895, #d94558);
  background: linear-gradient(#e78895, #d94558);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000343}}
.button-red:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e37886), color-stop(100%, #d53449));
  background: -webkit-linear-gradient(#e37886, #d53449);
  background: -moz-linear-gradient(#e37886, #d53449);
  background: -o-linear-gradient(#e37886, #d53449);
  background: linear-gradient(#e37886, #d53449);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003120}}
.button-green {
  background: #6abe71;
  border: 1px solid #43984a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #86ca8c), color-stop(100%, #4eb156));
  background: -webkit-linear-gradient(#86ca8c, #4eb156);
  background: -moz-linear-gradient(#86ca8c, #4eb156);
  background: -o-linear-gradient(#86ca8c, #4eb156);
  background: linear-gradient(#86ca8c, #4eb156);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\0000343}}
.button-green:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #78c47f), color-stop(100%, #48a34f));
  background: -webkit-linear-gradient(#78c47f, #48a34f);
  background: -moz-linear-gradient(#78c47f, #48a34f);
  background: -o-linear-gradient(#78c47f, #48a34f);
  background: linear-gradient(#78c47f, #48a34f);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003124}}
body {
  margin: 0;
  color: #333333;
  font-family: 'PT Sans', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003130}}
header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #9ebaff;
  background: #ebf0ff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003140}}
.rotunda-link {
  position: absolute;
  right: 50px;
  bottom: 3px;
  color: #999999;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003149}}
.rotunda-link a {
  color: #333333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003153}}
.rotunda-link a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003159}}
h1 {
  margin: 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003164}}
.content {
  margin: 0 auto;
  width: 1070px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003169}}
.nav {
  position: fixed;
  float: left;
  width: 170px;
  top: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003175}}
.nav li {
  margin: 14px 0;
  color: gray;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003181}}
.nav li:hover {
  color: #96aee8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003186}}
.nav .selected {
  color: #678be4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003189}}
.nav .selected:hover {
  color: #678be4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003195}}
.example-wrapper {
  margin-left: 220px;
  margin-top: 63px;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003201}}
.example-container {
  float: left;
  margin: 0 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003205}}
.example-container h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 28px;
  padding-bottom: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003212}}
.intro-text {
  font-size: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003219}}
.flat-border-list li {
  padding: 10px;
  margin: 10px 0;
  background: #f0f0f0;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003224}}
.flat-border-list li:hover {
  background: #96aee8;
  border: 1px solid #587dda;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003229}}
.flat-border-list .selected {
  background: #678be4;
  border: 1px solid #2659d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003232}}
.flat-border-list .selected:hover {
  background: #678be4;
  border: 1px solid #2659d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003238}}
.light-flat-list {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003241}}
.light-flat-list li {
  padding: 10px;
  background: #f7f7f7;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003248}}
.light-flat-list li:last-of-type {
  border-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003252}}
.light-flat-list li:hover {
  background: #b8ccff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003257}}
.light-flat-list .selected {
  color: white;
  background: #678be4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003260}}
.light-flat-list .selected:hover {
  background: #678be4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003268}}
.gradient-list li {
  padding: 10px;
  margin: 10px 0;
  background: #f0f0f0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(#f7f7f7, #e8e8e8);
  background: -moz-linear-gradient(#f7f7f7, #e8e8e8);
  background: -o-linear-gradient(#f7f7f7, #e8e8e8);
  background: linear-gradient(#f7f7f7, #e8e8e8);
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003278}}
.gradient-list li:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a3b7eb), color-stop(100%, #8aa4e5));
  background: -webkit-linear-gradient(#a3b7eb, #8aa4e5);
  background: -moz-linear-gradient(#a3b7eb, #8aa4e5);
  background: -o-linear-gradient(#a3b7eb, #8aa4e5);
  background: linear-gradient(#a3b7eb, #8aa4e5);
  border: 1px solid #587dda;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003284}}
.gradient-list .selected {
  background: #678be4;
  border: 1px solid #2659d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003289}}
.gradient-list .selected:hover {
  background: #678be4;
  border: 1px solid #2659d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003295}}
.dark-flat-list {
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003298}}
.dark-flat-list li {
  padding: 10px;
  margin: 4px 0;
  background: #595959;
  color: white;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003308}}
.dark-flat-list li:hover {
  background: #5583f6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003313}}
.dark-flat-list .selected {
  background: #4d7fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003316}}
.dark-flat-list .selected:hover {
  background: #4d7fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003323}}
.demo-container {
  width: 350px;
  margin-right: 40px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003328}}
.demo-container p {
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/colinwren\/Projects\/backbone-collection-view\/sass\/app\.scss}line{font-family:\00003333}}
pre {
  width: 428px;
  font-size: 12px;
  background: #23293e;
  border: 1px solid #07090d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 15px;
  margin: 0;
  float: left;
  line-height: 18px;
  cursor: pointer;
}
