//// Mixins and variables
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

$blue:      hsl( 223,  70%,  65% );
$orange:    hsl(  22, 100%,  63% );
$red:       hsl( 352,  66%,  64% );
$green:     hsl( 125,  39%,  58% );
$navy:      hsl( 227,  27%,  19% );

$lightBlue:  hsl( 223, 100%,  96% );
$brightBlue: saturate($blue, 30);
$blueGrey:   hsl( 223,  64%,  75% );
$grey:       hsl(   0,   0%,  94% );
$darkGrey:   hsl(   0,   0%,  35% );

$borderOffset:  15;
$buttonGradientOffset: 8;

@mixin borderBox($color) {
	background: $color;
	border: 1px solid darken($color, $borderOffset);
	@include border-radius( 4px );
}

@mixin gradientor($color, $offset) {
	@include background(linear-gradient(lighten($color, $offset), darken($color, $offset)));
}

@mixin buttonize($color) {
	@include borderBox($color);
	@include gradientor($color, $buttonGradientOffset);
	&:hover {
		@include gradientor(darken($color, 4), $buttonGradientOffset);
	}
}

//// General styles

a {
	text-decoration: none;
}

button {
	padding: 10px 14px;
	color: white;
	@include text-shadow(0 -1px 0px hsla(0, 0%, 0%, 0.25));
	font-family: 'PT Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	cursor: pointer;
}

.button-big {
	display: block;
	width: 300px;
	margin: 35px 0 0 90px;
	float: left;
	font-size: 25px;
	letter-spacing: 1px;
}

.button-small {
	font-size: 14px;
}

.button-right {
	float: right;
}

.button-orange { @include buttonize($orange); }
.button-blue   { @include buttonize($blue); }
.button-red    { @include buttonize($red); }
.button-green  { @include buttonize($green); }

/// Page styles

body {
	margin: 0;
	color: hsl(0, 0%, 20%);
	font-family: 'PT Sans', sans-serif;
}

header {
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	padding: 12px 0 10px 0;
	border-bottom: 1px solid darken($lightBlue, $borderOffset);
	background: $lightBlue;
	z-index: 100;
}

.gh-icon-blue {
	opacity: 0;
}

.gh-icon-wrapper{
	position: absolute;
	height: 63px;
	right: 0px;
	bottom: 14px;
	overflow: hidden;
	width: 110px;
	margin: -15px;

	&:hover {

		.gh-icon-blue {
			opacity: 1;
		}

		.gh-icon-black {
			opacity: 0;
		}
	}

	.gh-icon-black {
		opacity: .8;
	}
}

.gh-icon {
	position: absolute;
	top: 9px;
	right: 30px;
	height: 42px;
	width: 42px;
  border-style:none;
}

h1 {
	margin: 0;
	text-align: center;
}

.content {
	margin: 0 auto;
	width: 1090px;
}

.nav {
	position: fixed;
	float: left;
	width: 170px;
	top: 80px;

	li {
		margin: 14px 0;
		color: hsl(0, 0%, 50%);
		font-size: 17px;
		-webkit-font-smoothing: antialiased;

		&:hover {
			color: $blueGrey;
		}
	}

	.selected {
		color: $blue;

		&:hover {
			color: $blue;
		}
	}
}

.example-wrapper{
	margin-left: 220px;
	margin-top: 63px;
	float: left;
}

.example-container {
	float: left;
	margin: 0 0 15px;

	h2 {
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		font-size: 28px;
		padding-bottom: 4px;
	}
}

.intro-text{
	margin: 30px 0 0;
	font-size: 20px;
	line-height: 27px;
	-webkit-font-smoothing: antialiased;
}

.demo-container {
	width: 350px;
	margin-right: 40px;
	float: left;

	p {
		font-size: 14px;
	}
}

var.empty-list-caption {
  color: #A0A0A0;
  padding: 30px;
  display: block;
  text-align: center;
  font-style: normal;
  line-height: 1.45;
}

.code-container{
	float: left;
	width: 480px;
	position:relative;
}

.code-wrapper{
	float: left;
}

pre {
	display: none;
	overflow: auto;
	float: left;
	width: 437px;
	height: 174px;
	padding: 18px 15px;
	margin:0;
	border: 1px solid #9c9c9c;
	line-height: 18px;
	font-size: 12px;
	@include border-radius(4px);
	background: $navy;
	cursor: pointer;
}

.visible-code{
	display: block;
}

.tab-list{
	float: left;
	list-style: none;
	margin: 0 15px -1px;
	position: relative;
	padding: 0;

	li {
		float: left;
		padding: 7px 20px;
		margin-right: 5px;
		padding-bottom: 4px;
		border: 1px solid #9c9c9c;
		border-bottom: 0px;
		color: #979797;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		background: darken($navy, 5);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		cursor: pointer;
	}

	.current {
		padding-bottom: 5px;
		background: $navy;
		color: white;
	}
}

//**************** Styles for examples **********************//

.collection-list {
	list-style-type: none;
	margin: 0;
	outline: none;
	padding: 0;
	cursor: pointer;
}

ul#demoSingleSelectionList {

	li {
		margin: 7px;
		padding: 10px;
		border: 1px solid #AAA;
		@include border-radius( 4px );
		background: #FAFAFA;
	}

	li.selected {
		background: #678be4;
		border: 1px solid #2659d9;
		color: white;
	}
}

ul#demoMultipleSelectionList {
	@include box-shadow(0 1px 3px 0 hsla(0, 0%, 0%, 0.33));
	font-family: "Helvetica Neue", Helvetica, arial;

	li {
		padding: 10px;
		border-top: 1px solid #E0E0E0;
		background: #F7F7F7;
	}

	li.selected {
		color: white;
		background: #678be4;
	}
}

table#demoTables {
	border-collapse: collapse;
	width: 350px;
	border: 1px solid #AAA;
	font-family: "Helvetica Neue", Helvetica, arial;
	cursor: pointer;
 
	thead {
		border-bottom: 1px solid darken($grey, $borderOffset);
		font-weight: bold;
	}
	
	tr {
		&:nth-child(even) {
			background: $lightBlue;
		}

		&.selected {
			background: $blue;
			color: white;
		}

		td {
			padding: 10px 20px;
			border-right: 1px solid #AAA;
		}
	}
}

ul#demoSortable {
	li {
		padding: 10px;
		margin: 10px 0;
		background: #F0F0F0;
		@include gradientor($grey, 3);
		border: 1px solid #C9C9C9;
		@include border-radius(4px);
		@include box-shadow(0 1px 3px hsla(0, 0%, 0%, 0.14));
		text-shadow: 0 1px 0 hsla(0, 100%, 100%, 0.8);

		&.selected {
			border: 1px solid #2659D9;
			background: #678BE4;
			color: white;
			text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.8);
		}
	}
}

ul#demoEmptyListCaption {
	background: #FAFAFA;
	padding: 0px 10px;
	border: 1px solid #A0A0A0;
	min-height: 150px;

	li {
		padding: 10px;
		margin: 10px 0;
		background: #F0F0F0;
		@include gradientor($grey, 3);
		border: 1px solid #C9C9C9;
		@include border-radius(4px);
		@include box-shadow(0 1px 3px hsla(0, 0%, 0%, 0.14));
		text-shadow: 0 1px 0 hsla(0, 100%, 100%, 0.8);

		&.selected {
			border: 1px solid #2659D9;
			background: #678BE4;
			color: white;
			text-shadow: 0 -1px 0 hsla(0, 0%, 0%, 0.8);
		}
	}
}

ul#demoEvents {
	background: #FDFDFD;
	font-family: "lucida grande",tahoma,sans-serif;
	border: 1px solid #78A9CE;
	margin: 2px 0px 2px 0px;
	@include border-radius( 4px );

	li {
		padding: 6px;

		&.selected {
			background: #9EADD0;
			color: white;
		}
	}
}

ul#demoFilters {

	li {
		margin: 7px;
		padding: 10px;
		border: 1px solid #AAA;
		@include border-radius( 4px );
		background: #FAFAFA;
	}

	li.selected {
		background: #678be4;
		border: 1px solid #2659d9;
		color: white;
	}

	li.not-selectable {
		opacity: .5;
	}
}
