/*todo:*/
/*make non-sortable/selectable rows differnt color and unhoverable*/

//// Mixins and variables
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

$blue:      hsl( 223,  70%,  65% );
$orange:    hsl(  22, 100%,  63% );
$red:       hsl( 352,  66%,  64% );
$green:     hsl( 125,  39%,  58% );
$navy:      hsl( 227,  27%,  19% );

$lightBlue:  hsl( 223, 100%,  96% );
$brightBlue: saturate($blue, 30);
$blueGrey:   hsl( 223,  64%,  75% );
$grey:       hsl(   0,   0%,  94% );
$darkGrey:   hsl(   0,   0%,  35% );
$white:      hsl(   0, 100%, 100% );

$borderOffset:  15;
$buttonGradientOffset: 8;

@mixin borderRadius() {
	@include border-radius(4px);
}
@mixin borderBox($color) {
	background: $color;
	border: 1px solid darken($color, $borderOffset);
	@include borderRadius();
}

@mixin gradientor($color, $offset){
	@include background(linear-gradient(lighten($color, $offset), darken($color, $offset)));
}

@mixin buttonize($color){
	@include borderBox($color);
	@include gradientor($color, $buttonGradientOffset);
	&:hover {
		@include gradientor(darken($color, 4), $buttonGradientOffset);
	}
}

//// General styles

.collection-list {
	list-style-type: none;
	margin: 0;
	outline: medium none;
	padding: 0;

	li {
		cursor: pointer;
	}
}

a {
	text-decoration: none;
}

button {
	padding: 10px 14px;
	color: $white;
	@include text-shadow(0 -1px 0px hsla(0, 0%, 0%, 0.25));
	font-family: 'PT Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	cursor: pointer;
}

.button-big {
	display: block;
	width: 300px;
	margin: 35px auto 0;
	font-size: 25px;
	letter-spacing: 1px;
}

.button-small {
	font-size: 14px;
}

.button-right{
	float: right;
}

.button-orange { @include buttonize($orange); }
.button-blue   { @include buttonize($blue); }
.button-red    { @include buttonize($red); }
.button-green  { @include buttonize($green); }

/// Page styles

body {
	margin: 0;
	color: hsl(0, 0%, 20%);
	font-family: 'PT Sans', sans-serif;
}

header {
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid darken($lightBlue, $borderOffset);
	background: $lightBlue;
	z-index: 100;
}

.github-icon {
	position: absolute;
	left: 14px;
	bottom: 14px;
	opacity: .3;
	@include transition( all 0.15s ease-out);

	&:hover {
		opacity: .7;
	}
}

.rotunda-link {
	position: absolute;
	right: 50px;
	bottom: 3px;
	color: hsl(0, 0%, 60%);
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	font-weight: bold;

	a {
		color: hsl(0, 0%, 20%);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

h1 {
	margin: 0;
	text-align: center;
}

.content {
	margin: 0 auto;
	width: 1090px;
}

.nav {
	position: fixed;
	float: left;
	width: 170px;
	top: 80px;

	li {
		margin: 14px 0;
		color: hsl(0, 0%, 50%);
		font-size: 17px;
		-webkit-font-smoothing: antialiased;

		&:hover {
			color: $blueGrey;
		}
	}

	.selected {
		color: $blue;

		&:hover {
			color: $blue;
		}
	}
}

.example-wrapper{
	margin-left: 220px;
	margin-top: 63px;
	float: left;
}

.example-container {
	float: left;
	margin: 0 0 15px;

	h2 {
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		font-size: 28px;
		padding-bottom: 4px;
	}
}

.intro-text{
	margin: 30px 0 0;
	font-size: 20px;
	line-height: 27px;
	-webkit-font-smoothing: antialiased;
}

.demo-container {
	width: 350px;
	margin-right: 40px;
	float: left;

	p {
		font-size: 14px;
	}
}

.empty-list-caption {
	display: block;
	margin: 0 -10px;
	padding: 30px;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	line-height: 1.45;
	@include borderRadius;
	color: darken($grey, 20);
	background: $grey;
}

.code-container{
	float: left;
	width: 480px;
	position:relative;
}

.code-wrapper{
	float: left;
}

pre {
	display: none;
	overflow: auto;
	float: left;
	width: 437px;
	height: 174px;
	padding: 18px 15px;
	margin:0;
	border: 1px solid #9c9c9c;
	line-height: 18px;
	font-size: 12px;
	@include borderRadius();
	background: $navy;
	cursor: pointer;
}

.visible-code{
	display: block;
}

.tab-list{
	float: left;
	list-style: none;
	margin: 0 15px -1px;
	position: relative;
	padding: 0;

	li {
		float: left;
		padding: 7px 20px;
		margin-right: 5px;
		padding-bottom: 4px;
		border: 1px solid #9c9c9c;
		border-bottom: 0px;
		color: #979797;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		background: darken($navy, 5);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		cursor: pointer;
	}

	.current {
		padding-bottom: 5px;
		background: $navy;
    color: white;
	}
}

.flat-border-list {

	li {
		padding: 10px;
		margin: 10px 0;
		@include borderBox($grey);

		&:hover:not(.selected) {
			@include borderBox($blueGrey);
		}
	}

	.selected {
		@include borderBox($blue);
		color: $white;
	}
}

.light-flat-list {
	@include box-shadow(0 1px 3px 0 hsla(0, 0%, 0%, 0.33));

	li {
		padding: 10px;
		background: hsl(0, 0%, 97%);
		font-family: "Helvetica Neue", Helvetica, arial;
		-webkit-font-smoothing: antialiased;
		border-bottom: 1px solid hsl(0, 0%, 90%);

		&:last-of-type {
			border-bottom: 0;
		}

		&:hover{
			background: darken($lightBlue, 10);
		}
	}

	.selected {
		color: $white;
		background: $blue;
		&:hover {
		background: $blue;
		}
	}
}

table {
	border-collapse: collapse;
	width: 350px;
	border: 1px solid darken($grey, $borderOffset);
	font-family: "Helvetica Neue", Helvetica, arial;
}

td {
	padding: 10px 20px;
	-webkit-font-smoothing: antialiased;

	&:first-of-type {
		border-right: 1px solid darken($grey, $borderOffset);
	}
}

tr {
	cursor: pointer;

	&:nth-of-type(even) {
		background: $lightBlue;
	}

	&:hover{
		background:($blueGrey);
	}

	&.selected {
		background: $blue;
		color: $white;

		&:hover {
			background: $blue;
		}
	}
}

.gradient-list {

	li {
		padding: 10px;
		margin: 10px 0;
		background: $grey;
		@include gradientor($grey, 3);
		border: 1px solid darken($grey, $borderOffset);
		@include borderRadius;
		@include box-shadow(0 1px 3px hsla(0, 0%, 0%, 0.14));
		@include text-shadow(0 1px 0 hsla(0, 100%, 100%, 0.8));

		&:hover{
			@include gradientor($blueGrey, 3);
			border: 1px solid darken($blueGrey, $borderOffset);
		}
	}

	.selected {
		@include borderBox($blue);
		color: $white;
		text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.8);

		&:hover {
			@include borderBox($blue);
		}
	}
}

.dark-flat-list {

	margin: 10px 0;

	li {
		padding: 10px;
		margin: 4px 0;
		background: $darkGrey;
		color: white;
		font-family: "Helvetica Neue", Helvetica, arial;
		-webkit-font-smoothing: antialiased;
		font-weight: bold;
		@include transition( all 0.20s ease-out);

		&:hover{
			background: desaturate($brightBlue, 10);
		}
	}

	.selected {
		background: $brightBlue;

		&:hover {
			background: $brightBlue;
		}
	}
}
