/*todo:*/
/*make non-sortable/selectable rows differnt color and unhoverable*/

//// Mixins and variables
 @import "compass/css3/images";
 @import "compass/css3/border-radius";
 @import "compass/css3/text-shadow";

$blue:      hsl( 223,  64%,  65% );
$orange:    hsl(  22, 100%,  63% );
$red:       hsl( 351,  84%,  70% );
$green:     hsl( 120,  52%,  60% );
$navy:      hsl( 227,  27%,  19% );

$lightBlue: hsl( 223, 100%,  96% );
$blueGrey:  hsl( 223,  64%,  75% );
$grey:      hsl(   0,   0%,  94% );
$white:     hsl(   0, 100%, 100% );

$borderOffset:  15;
$gradientOffset: 8;

@mixin borderBox($color) {
	background: $color;
	border: 1px solid darken($color, $borderOffset);
	@include border-radius(4px);
}

@mixin gradientor($color){
	@include background(linear-gradient(lighten($color, $gradientOffset), darken($color, $gradientOffset)));
}

@mixin buttonize($color){
	@include borderBox($color);
	@include gradientor($color);
	&:hover {
		@include gradientor(darken($color, 4));
	}
}

//// General styles

.collection-list {
	list-style-type: none;
	margin: 0;
	outline: medium none;
	overflow: hidden;
	padding: 0;
	li {
		cursor: pointer;
	}
}

button {
	padding: 10px 14px;
	color: $white;
	@include text-shadow(0 -1px 0px hsla(0, 0%, 0%, 0.25));
	font-family: 'PT Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	cursor: pointer;
}

.button-big {
	font-size: 20px;
	margin: 20px 72px;
}

.button-small {
	font-size: 14px;
}

.button-right{
	float: right;
}

.button-orange { @include buttonize($orange); }
.button-blue   { @include buttonize($blue); }
.button-red    { @include buttonize($red); }
.button-green  { @include buttonize($green); }

/// Page styles

body {
	margin: 0;
	color: hsl(0, 0%, 20%);
	font-family: 'PT Sans', sans-serif;
}

header {
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid darken($lightBlue, $borderOffset);
	background: $lightBlue;
}

h1 {
	margin: 0;
	text-align: center;
}

.content {
	margin: 0 auto;
	width: 1070px;
}

.nav {
	position: fixed;
	float: left;
	width: 170px;
	top: 80px;

	li {
		margin: 14px 0;
		color: hsl(0, 0%, 50%);
		font-size: 17px;
		-webkit-font-smoothing: antialiased;

		&:hover {
			color: $blueGrey;
		}
	}

	.selected {
		color: $blue;

		&:hover {
			color: $blue;
		}
	}
}

.example-wrapper{
	margin-left: 220px;
	margin-top: 63px;
	float: left;
}

.example-container {
	float: left;
	margin: 0 0 15px;

	h2 {
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		font-size: 28px;
		padding-bottom: 4px;
	}
}

.intro-text{
	font-size: 20px;
}


.example-list {

	li {
		padding: 10px;
		margin: 10px 0;
		@include borderBox($grey);

		&:hover{
			@include borderBox($blueGrey);
		}
	}

	.selected {
		@include borderBox($blue);
		color: $white;
	}
}

.demo-container {
	width: 350px;
	margin-right: 40px;
	float: left;

	p {
		font-size: 14px;
	}
}

pre {
	width: 428px;
	font-size: 12px;
	@include borderBox($navy);
	padding: 15px;
	margin:0;
	float: left;
	line-height: 18px;
}
