<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<link href="css/blackboard.css" rel="stylesheet"/>
	<link href="css/app.css" rel="stylesheet"/>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
	<header>
		<h1>Backbone.CollectionView</h1>

		<div class="gh-icon-wrapper">
			<a href="https://github.com/rotundasoftware/backbone.collectionView">
				<img class="gh-icon gh-icon-black" src="images/ghub-black.png" />
				<img class="gh-icon gh-icon-blue" src="images/ghub-blue.png" />
			</a>
		</div>
	</header>

	<div class="content">

		<ul id="example-navigation" class="nav"></ul>

		<div class="example-wrapper">

		<div class="example-container">
			<p class="intro-text">Easily render <a href="http://backbonejs.org/">backbone.js</a> collections. In addition managing model views, this class supports automatic selection of models in response to clicks, and rearranging models (and reordering the underlying collection) via drag and drop. Get and set selected models through <a href="https://github.com/rotundasoftware/backbone.collectionView/#methods-and-properties-reference">a dead simple API</a>.</p>
			<a href="https://github.com/rotundasoftware/backbone.collectionView/blob/master/zips/Backbone.CollectionView.zip?raw=true">
				<button class="button-big button-orange">Download Source</button>
			</a>
			<a href="https://github.com/rotundasoftware/backbone.collectionView">
				<button class="button-big button-blue">GitHub Repo & Docs</button>
			</a>
		</div>

		<div class="example-container">
			<h2>Single Selection</h2>
			<div class="demo-container">
				<p>Click an item in the list to select it.</p>
				<ul id="demoSingleSelectionList" class="flat-border-list"></ul>
			</div>
			<div class="code-container">
				<ul class="tab-list">
					<li class="js-code current">JavaScript</li>
					<li class="css-code">CSS</li>
				</ul>
				<div class="code-wrapper" id="code-text-1">
					<pre class="js-code visible-code">
<code data-language="javascript">var collectionView = new Backbone.CollectionView( {
  el : $( "ul#demoSingleSelectionList" ),
  selectable : true,
  collection : employeeCollection,
  modelView : EmployeeView
} );</code>
</pre>
<pre class="css-code">
<code data-language="css">ul.collection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  cursor: pointer;
}

ul.collection-list li {
  margin: 7px;
  padding: 10px;
  border: 1px solid #AAA;
  border-radius: 4px;   /* may need vendor varients */
  background: #FAFAFA;
}

ul.collection-list li.selected {
  background: #678be4;
  border: 1px solid #2659d9;
  color: white;
}
</code>
					</pre>
				</div>
			</div>
		</div>


		<div class="example-container">
			<h2>Multiple Selection</h2>
			<div class="demo-container">
				<p>Click and hold Command, Control (Windows) or Shift.</p>
				<ul id="demoMultipleSelectionList" class="light-flat-list"></ul>
			</div>
			<div class="code-container">
				<ul class="tab-list">
					<li class="js-code current">JavaScript</li>
					<li class="css-code">CSS</li>
				</ul>
				<div class="code-wrapper" id="code-text-2">
					<pre class="js-code visible-code">
<code data-language="javascript">var collectionView = new Backbone.CollectionView( {
  el : $('ul#demoMultipleSelectionList'),
  selectable : true,
  selectMultiple : true,
  collection : employeeCollection,
  modelView : EmployeeView
} );</code>
</pre>
<pre class="css-code"><code data-language="css">ul.collection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);   /* may need vendor varients */
  font-family: "Helvetica Neue", Helvetica, arial;
}

ul..collection-list li {
  padding: 10px;
  border-bottom: 1px solid #E6E6E6;
  background: #F7F7F7;
}

ul.collection-list li.selected {
  color: white;
  background: #678BE4;
}
</code>
					</pre>
				</div>
			</div>
		</div>


		<div class="example-container">
			<h2>Tables</h2>
			<div class="demo-container">
				<p>Collection views can also be rendered as tables.</p>

				<table id="demoTables" class="example-table">
					<thead>
						<tr>
							<td>First Name</td>
							<td>Last Name</td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="code-container">
				<ul class="tab-list">
					<li class="js-code current">JavaScript</li>
					<li class="css-code">CSS</li>
				</ul>
				<div class="code-wrapper" id="code-text-3">
					<pre class="js-code visible-code">
<code data-language="javascript">var collectionView = new Backbone.CollectionView( {
  el : $('table#demoTables'),
  selectable : true,
  collection : employeeCollection,
  modelView : EmployeeView
} );</code>
</pre>
<pre class="css-code">
<code data-language="css">table.collection-list {
  border-collapse: collapse;
  width: 350px;
  border: 1px solid #AAA;
  font-family: "Helvetica Neue", Helvetica, arial;
  cursor: pointer;
}
    
table.collection-list tr:nth-child(even) {
  background: #EBF0FF;
}

table.collection-list tr.selected {
  color: #FFF;
  background: #678BE4;
}

table.collection-list tr td {
  padding: 10px 20px;
  border-right: 1px solid #AAA;
}
</code>
					</pre>
				</div>
			</div>
		</div>


		<div class="example-container">
			<h2>Sorting</h2>
			<div class="demo-container">
				<p>Click and drag.</p>
				<button id="showModelSorting" class="button-small button-blue">See the collection contents</button>
				<ul id="demoSortable" class="gradient-list"></ul>
			</div>
			<div class="code-container">
				<ul class="tab-list">
					<li class="js-code current">JavaScript</li>
					<li class="css-code">CSS</li>
				</ul>
				<div class="code-wrapper" id="code-text-4">
					<pre class="js-code visible-code">
<code data-language="javascript">var collectionView = new Backbone.CollectionView( {
  el : $('ul#demoSortableList'),
  selectable : true,
  sortable : true,
  collection : employeeCollection,
  modelView : EmployeeView
} );</code>
</pre>
			<pre class="css-code">
<code data-language="css">ul.collection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  cursor: pointer;
}

ul.collection-list li {
  margin: 10px 0;
  padding: 10px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F7F7), color-stop(100%, #E8E8E8));
  background: -webkit-linear-gradient(#F7F7F7, #E8E8E8);
  background:    -moz-linear-gradient(#F7F7F7, #E8E8E8);
  background:      -o-linear-gradient(#F7F7F7, #E8E8E8);
  background:         linear-gradient(#F7F7F7, #E8E8E8);
  border: 1px solid #C9C9C9;
  background: #F0F0F0;
  border-radius: 4px;   /* may need vendor varients */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);   /* may need vendor varients */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

ul.collection-list li.selected {
  border: 1px solid #2659D9;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background: #678BE4;
}</code>
</pre>
		</div>
		</div>
		</div>


		<div class="example-container">
			<h2>Empty list caption</h2>
			<div class="demo-container">
				<p>Display customized text when the list is empty.</p>
				<button id="demoAddToCollectionButton" class="button-small button-green">Add new item</button>
				<button id="demoRemoveFromCollectionButton" class="button-small button-right button-red">Remove selected item(s)</button>
				<p></p>
        <ul id="demoEmptyListCaption"></ul>
			</div>
			<div class="code-container">
				<ul class="tab-list">
					<li class="js-code current">JavaScript</li>
					<li class="css-code">CSS</li>
				</ul>
				<div class="code-wrapper" id="code-text-5">
					<pre class="js-code visible-code">
<code data-language="javascript"> var collectionView = new Backbone.CollectionView( {
  el : $( "ul#demoEmptyListCaption" ),
  selectable : true,
  selectableMultiple : true,
  sortable: true,
  emptyListCaption : "There are no items in this list.",
  collection : new Employees(),
  modelView : EmployeeView
} );

$( "#demoRemoveFromCollectionButton" ).click( function() {
  var selectedModels = collectionView.getSelectedModels();
  collectionView.collection.remove( selectedModels );
} );

$( "#demoAddToCollectionButton" ).click( function() {
  collectionView.collection.add( {
    firstName : 'Super', lastName : 'Sleuth'
  } );
} );</code>
</pre>
<pre class="css-code">
<code data-language="css">ul.collection-list {
  margin: 0;
  list-style-type: none;
  outline: none;
  cursor: pointer;

  background: #FAFAFA;
  padding: 0px 10px;
  border: 1px solid #A0A0A0;
  min-height: 150px;
}

ul.collection-list li {
  margin: 10px 0;
  padding: 10px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F7F7), color-stop(100%, #E8E8E8));
  background: -webkit-linear-gradient(#F7F7F7, #E8E8E8);
  background:    -moz-linear-gradient(#F7F7F7, #E8E8E8);
  background:      -o-linear-gradient(#F7F7F7, #E8E8E8);
  background:         linear-gradient(#F7F7F7, #E8E8E8);
  border: 1px solid #C9C9C9;
  background: #F0F0F0;
  border-radius: 4px;   /* may need vendor varients */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);   /* may need vendor varients */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

ul.collection-list li.selected {
  border: 1px solid #2659D9;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background: #678BE4;
}

ul.collection-list var.empty-list-caption {
  color: #A0A0A0;
  padding: 30px;
  display: block;
  text-align: center;
  font-style: normal;
  line-height: 1.45;
}
</code>
				</pre>
			</div>
			</div>
		</div>

		<div class="example-container">
			<h2>Events</h2>
			<div class="demo-container">
				<p>Easily hook into events like selectionChanged.</p>
				<ul id="demoEvents" class="flat-border-list"></ul>
        <p></p>
        <div id="demoEventsCaption"></div>
			</div>
			<div class="code-container">
				<ul class="tab-list">
					<li class="js-code current">JavaScript</li>
					<li class="css-code">CSS</li>
				</ul>
				<div class="code-wrapper" id="code-text-6">
					<pre class="js-code visible-code">
<code data-language="javascript">var collectionView = new Backbone.CollectionView( {
  el : $('ul#demoEvents'),
  selectable : true,
  collection : employeeCollection,
  modelView : EmployeeView
} );

collectionView.on( "selectionChanged", function() {
  var selectedModel = collectionView.getSelectedModel();
  $( "#demoEventsCaption" ).text(
    "The newly selected model is: " +
    selectedModel.get( "firstName" ) + " " +
    selectedModel.get( "lastName" ) );
} );
</code>
</pre>
<pre class="css-code">
<code data-language="css">ul.collection-list {
  background: #FDFDFD;
  font-family: "lucida grande",tahoma,sans-serif;
  border: 1px solid #78A9CE;
  margin: 2px 0px 2px 0px;
  border-radius( 4px );   /* may need vendor varients */
}

ul.collection-list li {
  padding: 6px;
}

ul.collection-list li.selected {
  background: #9EADD0;
  color: white;
}
</code>
					</pre>
				</div>
			</div>
		</div>

		<div class="example-container">
			<h2>Filters</h2>
			<div class="demo-container">
				<p>Specify which items are selectable, sortable, or visible.</p>
				<ul id="demoFilters"></ul>
			</div>
			<div class="code-container">
				<ul class="tab-list">
					<li class="js-code current">JavaScript</li>
					<li class="css-code">CSS</li>
				</ul>
				<div class="code-wrapper" id="code-text-7">
					<pre class="js-code visible-code">
<code data-language="javascript">var collectionView = new Backbone.CollectionView( {
  el : $( "ul#demoFilters" ),
  selectable : true,
  collection : employeeCollection,
  modelView : EmployeeView,
  selectableModelsFilter : function( model ) {
    return model.get( "lastName" ) === "Holmes";
  }
} );</code>
</pre>
<pre class="css-code">
<code data-language="css">ul.collection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  cursor: pointer;
}

ul.collection-list li {
  margin: 7px;
  padding: 10px;
  border: 1px solid #AAA;
  border-radius: 4px;   /* may need vendor varients */
  background: #FAFAFA;
}

ul.collection-list li.selected {
  background: #678be4;
  border: 1px solid #2659d9;
  color: white;
}</code>
					</pre>
				</div>
			</div>
		</div>

	<!--Underscore template for an employee view.  Used in a collection view rendered as a list.-->
	<script type="text/html" id="example-template">
		<%= example %>
	</script>

	<!--Underscore template for an employee view.  Used in a collection view rendered as a list.-->
	<script type="text/html" id="employee-template">
		<%= firstName %> <%= lastName %>
	</script>

	<!--Underscore template for an employee view.  Used in a collection view rendered as a table.-->
	<script type="text/html" id="employee-template-for-table-list">
		<td><%= firstName %></td><td><%= lastName %></td>
	</script>

	<script type="text/javascript" src="lib/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="lib/jquery-ui.js"></script>
	<script type="text/javascript" src="lib/underscore.js"></script>
	<script type="text/javascript" src="lib/backbone.js"></script>
	<script type="text/javascript" src="lib/backbone.babysitter.js"></script>
	<script type="text/javascript" src="lib/backbone.courier.js"></script>
	<script type="text/javascript" src="lib/collectionView.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="lib/rainbow-custom.min.js"></script>
</body>

</html>
